extends /template/_layout

block content
    nav
        each val, index in subcatalog.seq
            section.active(id=val.display)
                if val.path != "default"
                    h2(title=val.display)
                        a
                            = val.display
                else
                    h2
                div.pages
                    each seq, index in subcatalog[val.path].seq
                        a(href=subcatalog[val.path].files[seq.path].path)
                            != seq.display
    div.container
        div#page
            //- If you are using makedown-jade to append markdown. Add comments like the following line.
            //- {{markdown}}

    script(type='text/javascript').
        var holder = "js-video",
            container = document.getElementById(holder);

        container && jwplayer('js-video').setup({
            flashplayer: "/flash/jwplayer.flash.swf",
            file: container.getAttribute("data-url"),
            image: container.getAttribute("data-image")
        });

