footer
    div.container
        p This site is a work in progress. If you find bugs or have feature requests, please let us know.
        p Need help? Email to
            a(href="fe-general@qunar.com") fe-general@qunar.com