header
    a#www-link(href="/") Qunar docs
    each val, index in catalog.seq
        if catalog[val.name].seq
            a.menu(href=catalog[val.name].defaultPage)
                = val.display
        else
            a.menu(href=catalog[val.name].defaultPage, target="_blank")
                = val.display