extends ../template/_layout

block content
    a(href="http://github.com/ilife5/elves", id="logo")
        img(src="https://raw.githubusercontent.com/ilife5/life/master/statics/images/elf.jpg")
    h1 These are the docs you're looking for
    div.toc
        each val, key in catalog
            section(id=key)
                h2(title=key)
                    = key
                ul.pageColumns
                    each post in val
                        li
                            a(href=post.path)
                                != post.name