extends ../template/_layout

block content
    a(href="http://github.com/ilife5/elves", id="logo")
        img(src="https://raw.githubusercontent.com/ilife5/life/master/statics/images/elf.jpg")
    h1 These are the docs you're looking for
    div.toc
        each val, index in catalog.seq
            section(id=val.display)
                h2(title=val.display)
                    = val.display
