extends ../template/_layout_index

block content
    a(href="/", id="logo")
        img(src="/img/welcome.jpg")
    h1 These are the docs you're looking for
    div.toc
        each val, index in catalog.seq
            section(id=val.display)
                h2(title=val.display)
                    = val.display
